#impress .past, #impress .future {
  opacity: 0.1;
}
#impress .future:hover {
  opacity: 0.5;
}

.step a {
  font-size: 2rem;
}

.step small {
  font-size: 50%;
  opacity: 0.8;
}

pre code {
  font-size: 1rem;
}

.stack {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.stack span {
  background-color: rgb(213, 155, 236);
  border-radius: 0.2em;
  padding: 5px;
  color:rgb(70, 1, 97);
  text-align: center;
  font-weight: bold;
}
 
@media screen and (max-width: 780px) {
  .stack {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 460px) {
  .stack {
    grid-template-columns: 1fr 1fr;
  }
}
#home  {
  font-size: 5rem;
  font-family: 'Space Mono';
}
#home h3 {
  font-size: 2rem;
  font-family: 'Square Antiqua';

}
#home h4 {
  font-size: 1.8rem;
  font-family: 'Square Antiqua';
}
#home p {
  font-size: 1.3rem;
  font-family: 'Square Antiqua';
  margin: 20px;
}
#work ul, #work a {
  display: none;
}
#work.present ul{
  display: block;
  font-size: 2.2rem;
}
#work.present ul h3{
  margin-left: 25px;
}
#work.present a {
  display: block;
  text-align: right;  
  padding-top: 10px;  
}
#work .stack > span {
  display: flex;
  font-size: 1rem;
}
#work span > span{
  flex-grow: 1;
}
#work span small {
  font-size: 0.8rem;
  line-height: 15px;
  opacity: 0.7;
}

#education ul {
  display: none;
  list-style: disc;
  margin: 0 20%;
}
#education.present ul {
  display: block;
}
#education .stack {
  display: none;
}
#education.present .stack {
  display: grid;
}
#education h3 { font-size: 2rem; }
#education h4 { font-size: 1.7rem; }
#education h5 { font-size: 1.5rem; }
#education p { font-size: 1rem; }
#education a { font-size: 1rem; }

#journey p{
  font-size: 1rem;
}
#vts p {
  font-size: 1rem;
  padding: 10px;
}
#vts p small {
  font-size: 0.7rem;
}

h1 small {
  font-size: 1rem !important;
  position: absolute;
  text-align: right;
  right: 0px;
}

#journey #atajo {
  display: flex;
  justify-content: space-around;
}
#journey #atajo a {
  font-size: 1.5rem;
}
#about .me {
  display: flex;
}

#about .contact {
  text-align: right;
}

#about img {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

#about p {
  font-size: 1.2rem;
}

#about ul {
  font-size: 1.5rem;
}

#about section {
  display: none;
}

#about.present section {
  display: block;
}

.mermaid {
  background-color: transparent !important;
}

.sectionTitle {
  fill: white !important;
  font-weight: bold;
}

#impress #journey .taskTextOutsideRight {
  fill: aquamarine !important;
}

.tick text {
  fill: white !important;
}